<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% for one_css in css %}
            <link href="{{one_css}}" rel="stylesheet">
        {% endfor %}
    </head>

    <body>
        <div class = "container">
            <div class = "navbar" style = "padding-right: 20px">
                <div class = "container-fluid">
                    <div class = "navbar-header">
                        <a class = "navbar-brand" href = "{{ home }}">Tebakata Admin</a>
                    </div>

                    <div class = "navbar-right" style>
                        {% if loggedIn %}
                            <a href = "{{ logout }}" class = "btn btn-danger btn-raised">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class stylse = "padding-top: 40px">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        {% for one_js in js %}
            <script src="{{ one_js }}"></script>
        {% endfor %}
  </body>
</html>
