{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <p><a href = "{{ showChat }}">Show all</a></p>

    <div class = "list-group">
        {% for user in users %}
            <div class = "list-group-item">
                <div class = "row-action-primary">
                    <i class = "material-icons">account_circle</i>
                </div>

                <div class = "row-content">
                    <h4 class = "list-group-item-heading">{{ user.name }}</h4>
                    <p class = "list-group-item-text"><a href = "{{ user.link }}">Show</a></p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        {% endfor %}
    </div>
{% endblock %}
